@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}


.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}


@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.brand-marquee {
  width: max-content;
  animation: scroll-left 40s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Optional pause */
.brand-marquee:hover {
  animation-play-state: paused;
}
